@import 'settings';

body,html {
  height: 100%;
  position: relative;
}

.page-width{
  max-width: $page-width;
  width: $page-width;
  margin: 0 auto;
}

.flxtbl{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

  &.ic3 > div{
    flex-basis: calc(100%/3);
  }
}

.homemaindesign-holder{
  border-bottom: 15px solid #3e4748;
  .designholder{
    .designbox{
      min-height: 400px;
      position: relative;
      overflow: hidden;

      .design-base{
        position: absolute;
        text-align: center;
        width: 100%;

        img {
          max-width: 100%;
        }
      }

      &.tervez{
        background: darken($color-blue, 5%);

        .design-base{
          width: 80%;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
        }
      }
      &.kivitelez{
        background: $color-brown;
        .design-base{
          width: 100%;
          top: 50%;
          -webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
        }
      }
      &.hosting{
        background: lighten($color-blue, 5%);
        .design-base{
          width: 80%;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
        }
      }

      .cloud-des{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;
        &.cloud-white{
          background-image: url('../../images/cloude-white.svg');
          background-position: center;
          background-repeat: no-repeat;
        }
        &.cloud-dark{
          background-image: url('../../images/cloude-colored.svg');
          background-position: center;
          background-repeat: no-repeat;
        }
        &.cloud-big {
          width: 200px;
          height: 100px;
        }
        &.cloud-sm {
          width: 80px;
          height: 40px;
        }
        &.cld1{
          z-index: 105;
        }
        &.cld2{
          z-index: 104;
        }
        &.cld3{
          z-index: 103;
        }
        &.cld4{
          z-index: 102;
        }
        &.cld5{
          z-index: 101;
        }

        &.animate{
          &.animate-left{
            animation-name: cloudewalkleft;
            animation-duration: 10s;
            animation-iteration-count: infinite;
          }
          &.animate-right{
            animation-name: cloudewalkright;
            animation-duration: 10s;
            animation-iteration-count: infinite;
          }

          &.animate-slow{
            animation-duration: 25s;
          }
        }
      }

      &.hosting{
        .cloud-des{
          bottom: -28px;
          &.cld1{
            left: 10px;
          }
          &.cld2{
            left: 55px;
            bottom: -10px;
          }
          &.cld3{
            left: auto;
            right: 50px;
            bottom: -10px;
          }
          &.cld4{
            left: auto;
            right: 10px;
            bottom: -5px;
          }
        }
      }
      &.kivitelez{
        .cloud-des{
          bottom: -28px;
          &.cld1{
            left: -103px;
            bottom: -24px;
          }
          &.cld2{
            left: -47px;
            bottom: -11px;
          }
          &.cld3{
            bottom: -53px;
            left: 104px;
          }
          &.cld4{
            left: auto;
            right: -55px;
            bottom: -8px;
          }
          &.cld5{
            left: auto;
            right: -100px;
            bottom: 42px;
          }
        }
      }
    }
  }
  .bottom-bar{
    background: darken($color-blue, 10%);

    a {
      display: block;
      padding: 20px 0;
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.15em;
    }

    .tervez a{
      &:hover{
        background: darken($color-blue, 15%);
      }
    }

    .kivitelez a{
      background: darken($color-brown, 10%);
      &:hover{
        background: darken($color-brown, 15%);
      }
    }

    .hosting a{
      &:hover{
        background: darken($color-blue, 5%);
      }
    }
  }
}

.design-viewer{

  .svgdesign-holder.style-webdesign{
    img{
      max-width: 70% !important;
    }
  }

  & > .fusion-column-wrapper{
    width: $page-width;
    margin: 0 auto;
    padding: 30px 0;
      & > .fusion-builder-row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        & > .fusion-layout-column{
          width: auto !important;
          margin: 0 !important;
        }
      }
  }

  &.align-to-bottom {
    & > .fusion-column-wrapper{
      padding: 0;
    }
  }

  .fusion-column-wrapper{
    font-size: 1.1em !important;
    color: #fefefe;

    h1, h2, h3 {
      color: #fefefe;
    }

    h3 {
      line-height: 1.2 !important;
      font-size: 1.5em !important;
      font-weight: bold !important;
      margin: 15px 0 20px 0 !important;
    }

    h2 {
      line-height: 1.2 !important;
      font-size: 1.9em !important;
      margin: 15px 0 !important;
    }
  }

  &.img-on-left{
    h2, p {
      text-align: right;
    }
    .fusion-button-wrapper{
      float: right;
    }
    .fusion-column-first{
      flex-basis: 35% !important;
    }
    .fusion-column-last{
      flex-basis: 65% !important;
    }
  }
  &.img-on-right{
    .fusion-column-first{
      flex-basis: 65% !important;
    }
    .fusion-column-last{
      flex-basis: 35% !important;
    }
  }
}

.contact-form-holder{
  position: relative;

  .des-v{
    position: absolute;
    pointer-events: none;
    z-index: 100;

    img {
      width: 100%;
    }

    &.coffee{
      width: 250px;
      left: -100px;
      top: -320px;
    }
    &.levcer{
      width: 400px;
      left: -70px;
      bottom: -100px;
    }
    &.klavi{
      width: 550px;
      right: -70px;
      bottom: 50px;
    }
  }

  .group-holder{
    position: relative;
    z-index: 200;
    width: $page-width;
    max-width: $page-width;
    margin: 0 auto;
    padding: 0 10%;

    .heading{
      text-align: center;
      h3 {
        font-weight: bold;
        margin: 45px 0;
        color: #656565;
      }
    }
  }

  label {
    font-weight: bold;
    color: black;
    padding: 0 0 10px 0;
    display: block;
  }

  input, textarea, select {
    border: none;
    color: $color-blue;
    padding: 10px;
    font-size: 1.3em;
    height: auto;
    max-height: initial;
    line-height: inherit;
    border: 2px solid #ececec;
    border-radius: 4px;
  }
  select, textarea {
    width: 100%;
  }
  textarea{
    width: 100%;
    max-height: 100%;
    min-height: 400px;
  }
  .missing {
    border: 2px solid #f7a197;
  }
  .flxtbl {
    & > div {
      padding: 10px;
    }
    & > .name,
    & > .email,
    & > .phone {
      flex-basis: calc(100%/3);
    }
    & > .temakor{
      flex-basis: calc(100%/3);
    }
    & > .tema{
      flex-basis: 66.666666%;
    }
    & > .uzenet{
      flex-basis: 100%;
    }
    & > .recaptcha{
      flex-basis: 100%;
    }
    & > .btns{
      flex-basis: 100%;
    }

    button {
      background: $color-blue;
      color: white;
      text-transform: uppercase;
      padding: 12px;
      font-size: 1.2em;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover{
        background: darken($color-blue, 5%);
      }

      &.in-progress{
        background: $color-laz;
      }
      &.sended{
        background: $color-green;
      }
    }
  }
}

.alert-danger {
    color: #ffffff;
    background-color: #ef6454;
    border-color: #d75647;
}

.contact-design-top{
  height: 430px;
  background-image: url('../../images/contact-temp-top.svg');
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.egyedi-megoldasok-holder{
  background: #f9b540;
  color: white;

  .heading{
    background: darken(#f9b540, 10%);
    padding: 25px 0;
    text-align: center;
    h2{
      margin: 0;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.85em !important;
      line-height: 1 !important;
      font-weight: bold !important;
    }
  }

  .items{
    padding: 25px 0 45px  0;
    .item {
      flex-basis: calc(100%/3);
      text-align: center;

      .wrapper{
        padding: 15px 30px;

        .title{
          margin-bottom: 20px;
          height: 57px;
        }

        .image{
          text-align: center;
          img{
            max-width: 75%;
          }
        }
      }

      a{
        font-size: 1.6em;
        line-height: 1.3;
        color: #58595b;

        &:hover{
          color: black;
        }
      }
    }
  }
}

.price-ico{
  margin: 0 0 10px 0;
}

.svgdesign-holder{
  .imgholder{
    text-align: center;
  }
}

.table-1, .table-2, .tkt-slctr-tbl-wrap-dv {
    border: 3px solid #ececec;

    i{
      width: 25px;
      color: $color-blue;
      font-size: 18px;
      vertical-align: middle;
    }
    i[class*=check-circle-o] {
      color: #93d075;
      font-size: 22px;
    }
}
.table-1 table th, .tkt-slctr-tbl-wrap-dv table th{
  font-size: 16px;
  color: black;
}

.fusion-main-menu{
  .button-icon-divider-left{
    border-right: none !important;
  }
  .fusion-button-text-left{
    padding-left: 10px !important;
  }
  .button-default{
    background: transparent !important;
    border: 2px solid #ffd47f !important;
    color: #ffd47f !important;
    border-radius: 4px;
  }
}

.szolg-list{
  color: white;

  ul {
    li {
      font-size: 1.4em;
      list-style: none;
      margin: 15px 0;
      &:before{
        font-family: 'FontAwesome';
        vertical-align: middle;
        content:"\f058";
        margin-left: -25px;
        margin-right: 13px;
      }
    }
  }
}

.webpro-referenciak-holder{
  .ref-selector{
    & > .wrapper{
      background-image: url('../../images/ref-cloud-bg.svg');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 600px;
      padding: 25px 0;
      border-bottom: 10px solid #dbdbdb;

      .referenciak{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;

        .referencia {
          flex-basis: calc(100%/4);
          padding: 25px;

          .img{
            border: 8px solid #d2d2d2;
          }

          .title{
            text-align: center;
            padding: 5px 0;
            a {
              color: black;
              font-size: 1.2em;
            }
          }
          &:hover{
            .img {
              border: 8px solid $color-laz;
            }
            .title{
              a {
                color: $color-laz;
              }
            }
          }
        }
      }
    }
  }
  .ref-list{
    .informations{
      padding: 35px 0;
      .base-wire{
        align-items: center;
        .info-wire{
          align-items: flex-start;
          .profil{
            flex-basis: 30%;
            border: 8px solid #d2d2d2;
          }
          .info {
            flex-basis: 70%;
            color: #58595b;
            padding-left: 25px;
            h3 {
              font-size: 2em;
              color: #666666;
              margin: 0 0 10px 0;
            }

            .desc {
              margin-top: 15px;
              .h{
                font-size: 1.3em;
                margin: 0 0 10px 0;
              }

              ul, li {
                list-style: none;
                margin: 0;
                padding: 0;
              }

              ul {
                li:before {
                  content: "\f05d";
                  font-family: 'FontAwesome';
                  margin-right: 4px;
                }
              }
            }
          }
          .link {
            a{
              background-color: #888888;
              font-size: 0.9em;
              color: white;
              text-decoration: none;
              padding: 5px;
              line-height: 1;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
            }
          }
        }

        .info-block{
          flex-basis: 60%;
        }

        .cover-block{
          flex-basis: 40%;
          box-shadow: 0 20px 50px -20px #000000;
          border-radius: 10px;
          overflow: hidden;

          img{
            max-width: 100%;
            width: 100%;
          }
        }
      }

      .keywords{
        padding-top: 25px;
        & > div {
          float:left;
          font-size: 0.75em;
          background: #fff;
          color: #a5a5a5;
          border-radius: 5px;
          line-height: 1;
          margin: 4px;
          padding: 5px;
        }
      }
    }
    .szalag{
      background: #58595b;
      color: white;
      text-align: center;
      font-size: 1.8em;
      padding: 20px 0;

      &.contact-ad{
        background: #323232;
        font-size: 1.2em;
        padding: 15px 0;

        a.totop{
          font-size: 0.6em;
          color: #959595;
          margin-left: 25px;
        }
      }
    }

    .galery {
      padding: 30px 0;

      a{
        & > span > span > span {
          border: 5px solid #d2d2d2 !important;
          &:hover{
            box-shadow: 0 5px 20px #000000;
          }
        }
      }
    }

    .arrow-res{
      background-image: url('../../images/arrow-ref.svg');
      background-repeat: no-repeat;
      width: 400px;
      height: 240px;
      position: absolute;
      pointer-events: none;
      z-index: 100;

      &.to-right{
        right: -40%;
        bottom: -50%;
      }
      &.to-left{
        left: -40%;
        bottom: -50%;
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
      }
    }
  }
}

.EgyediMegoldasok-holder{
  .szalag{
    background: #f7c460 !important;
    text-align: left !important;
    color: #5d4e31 !important;
    border-bottom: 2px solid #cea044;

    .switcher:hover{
      color: black !important;
      cursor: pointer;
    }
  }
  .content-switch-holder{
    display: none;
    padding: 20px 0;

    .flxtbl{
      margin: 40px 0;
      & > div {
        flex-basis: 50%;
        text-align: left;
        padding: 0 20px;

        h3 {
          margin: 0 0 25px 0;
          font-size: 2em;
          color: #6b6c6d;
          line-height: 1.3;
        }

        ol{
          padding-left: 15px;
        }

        ol li {
          color: #444444;
          font-weight: bold;
        }
      }

      &.imgonright{
        & > div.img{
          order: 2;
        }
      }
    }

    .img > .imageholder > img {
      border: 5px solid #cccccc;
    }

    .img .imageholder{
      position: relative;
    }
  }
}


@keyframes cloudewalkleft {
  0% { margin-right: 0px;}
  50% { margin-right: 100px; }
  100% { margin-right: 0px; }
}
@keyframes cloudewalkright {
    0% { margin-left: 0px;}
    50% { margin-left: 100px; }
    100% { margin-left: 0px; }
}

@media screen and (max-width: 1100px) {
  .page-width,
  .contact-form-holder .group-holder,
  .design-viewer > .fusion-column-wrapper,
  #main .fusion-row, #slidingbar-area .fusion-row, .fusion-footer-copyright-area .fusion-row, .fusion-footer-widget-area .fusion-row, .fusion-page-title-row, .tfs-slider .slide-content-container .slide-content{
    width: 100% !important;
    max-width: 100% !important;
  }
  .fusion-layout-column > .fusion-column-wrapper{
    padding: 0 25px;
  }
  .fusion-layout-column.design-viewer > .fusion-column-wrapper{
    padding: 35px 0;
  }
  .fusion-main-menu > ul > li{
    padding-right: 25px !important;
  }
}

@media screen and (max-width: 768px) {
  .homemaindesign-holder .designholder .designbox{
    min-height: 280px;
  }
  .homemaindesign-holder .bottom-bar a{
    font-size: 0.85em;
  }
  .fusion-mobile-menu-icons a:before {
    color: #f37b6d;
    font-size: 28px;
  }
  .fusion-mobile-menu-icons a {
      position: absolute;
      right: 0;
      top: 10px;
      display: block;
  }
  .egyedi-megoldasok-holder .items .item a{
    font-size: 1.2em;
  }
  .design-viewer .fusion-column-wrapper h2 {
    font-size: 1.4em !important;
    margin: 10px 0 !important;
  }
  .flxtbl.ic3 > div{
    flex-basis: 100%;
  }
  .homemaindesign-holder .designholder{
    display: none;
  }

  .design-viewer{
    & > .fusion-column-wrapper {
      padding: 25px !important;
    }
    .svgdesign-holder{
      img{
        max-width: 70% !important;
      }
    }
    & > .fusion-column-wrapper{
        & > .fusion-builder-row{
          & > .fusion-layout-column{
            flex-basis: 100% !important;
            text-align: center !important;
          }
        }
    }
    &.img-on-right{
      .fusion-button-wrapper{
        display: block;
        text-align: center;
        float: none;
      }
      h2, p {
        text-align: center !important;
      }
      .fusion-layout-column.fusion-column-last{
        order: 0 !important;
      }
      .fusion-layout-column.fusion-column-first{
        order: 1 !important;
      }
    }
    &.img-on-left{
      .fusion-button-wrapper{
        display: block;
        text-align: center;
        float: none;
      }
      h2, p {
        text-align: center !important;
      }
      .fusion-layout-column.fusion-column-last{
        order: 1 !important;
      }
      .fusion-layout-column.fusion-column-first{
        order: 0 !important;
      }
    }
  }
  .egyedi-megoldasok-holder .items .item{
    flex-basis: 100%;
  }
  .egyedi-megoldasok-holder .items .item .wrapper .title{
    height: auto;
    font-size: 1.5em;
    font-weight: bold;
  }
  .contact-design-top{
    height: 200px;
  }
  .contact-form-holder .des-v{
    display: none;
  }
  .contact-form-holder .group-holder{
    padding: 0 25px !important;
  }
  .contact-form-holder .flxtbl > div{
    flex-basis: 100% !important;
  }
  .munkatars-lista{
    padding: 25px 0 0 0 !important;
  }
  .contact-form-holder .group-holder .heading h3{
    margin: 20px 0;
  }
  #main {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .fusion-layout-column > .fusion-column-wrapper{
    padding: 0px;
  }
  .webpro-referenciak-holder .ref-selector > .wrapper{
    padding: 10px;
  }
  .webpro-referenciak-holder .ref-selector > .wrapper .referenciak .referencia{
    flex-basis: 50%;
    padding: 0px 10px;
  }
  .webpro-referenciak-holder .ref-list .informations .base-wire .info-block,
  .webpro-referenciak-holder .ref-list .informations .base-wire .cover-block,
  .webpro-referenciak-holder .ref-list .informations .base-wire .info-wire .info{
    flex-basis: 100%;
    padding: 15px;
  }
  .webpro-referenciak-holder .ref-list .informations{
    padding: 15px 0;
  }
  .webpro-referenciak-holder .ref-list .szalag{
    font-size: 1.3em !important;
  }
  .webpro-referenciak-holder .ref-list .informations .base-wire .info-wire .info{
    h3{
      text-align: center;
    }
    .link {
      text-align: center;
    }
  }
  .webpro-referenciak-holder .ref-list .informations .base-wire .cover-block{
    flex-basis: 80%;
    margin: 0 auto;
    padding: 0;
  }
  .webpro-referenciak-holder .ref-list .informations .keywords{
    padding: 25px;
  }
  .webpro-referenciak-holder .ref-list .galery{
    padding: 25px;
  }

  .webpro-referenciak-holder .ref-list .informations .base-wire .info-wire .profil{
    flex-basis: 50%;
    margin: 0 auto;
  }
  .webpro-referenciak-holder .ref-list .szalag.contact-ad{
    padding: 15px;
    font-size: 1.1em !important;
  }
  .webpro-referenciak-holder .ref-list .szalag.contact-ad a.totop{
    display: block;
    margin: 0;
    margin-top: 5px;
  }
  .webpro-referenciak-holder .ref-list .szalag{
    padding: 15px 25px;
  }
  .EgyediMegoldasok-holder .content-switch-holder .flxtbl{
    margin: 20px 0;
  }
  .EgyediMegoldasok-holder .content-switch-holder .flxtbl > div{
    flex-basis: 100%;
  }
  .webpro-referenciak-holder .ref-list .arrow-res{
    display: none;
  }
  .EgyediMegoldasok-holder .content-switch-holder{
    padding: 0;
  }
  .EgyediMegoldasok-holder .content-switch-holder .flxtbl > div h3{
    margin-top: 20px;
  }
  .EgyediMegoldasok-holder .content-switch-holder .flxtbl.imgonright > div.cont{
    order: 3;
  }
}
